<!DOCTYPE html>
<html lang="en">
<head>

  <title>Device Vault</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  
 <!--  library links  -->
 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
  
<link rel="stylesheet" href="style.css">
  
</head>

<body> 

<div class="jumbotron text-center">
  <h1>You have reached the Device Vault</h1>
  <p>Here is the current status of all devices</p>
<p> Click on the device you wish to borrow to access hire information </p>  
</div>
<div class="container-lg" style="margin-top:30px">
	<div class="row">
	<table class="table table-hover table-striped">
		<thead class="thead-dark">
		<tr>
		  <th scope="col">Device Name</th>
		  <th scope="col">Status</th>
		  <th scope="col">Device Type</th>
		  <th scope="col">OS Type</th>
		  <th scope="col">OS Version</th>
		  <th scope="col">Device Grade</th>
		  
		</tr>
  {% for device in device_table %}
    <tr>
    {% for field in device %}
    <td> {{ field }}</td>
    {% endfor %}
</tr>
{% endfor %}
 
	</table>
	</div>
</div

</body>


	
	
	
 