<!doctype html>
<html lang="en">


{% block head -%}

<head>

    <title>Forgot Password</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"><
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/b-1.6.1/sp-1.0.1/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

 <!--   <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> -->      
	
</head>

{%- endblock %}

{% block body %}


<body>

    <div class="flex container" style="max-width:775px">
        <div class="w3-content w3-container border-light">

            

            {%- if error_message !='' %}
            <div id="alertMessage" class="alert alert-danger" {% if error_message is not defined %}
                style="display: none;" {% endif %}>
				<div class="text-center">
                <h5>{{ error_message }} Please try again.</h5>

            </div>
			</div>

            {%- else -%}
            
            {%- endif %}

            <div class="flex container contact-form" style="max-width:350px">
                <div class="w3-content w3-container">
						<br>
						<br>						
                    <form action="{{ url_for('process_change_password') }}" form method="POST">
                        <br>
						<br>
						<br>
						
                        <form class="border border-light p-5">
                            <p>

                            <h4 style="color:#4c93b1;" class="mb-4 text-center">
                                CHANGE PASSWORD</h4>
                            </p>
                            <label>{{ security_question[0] }}</label>
                            <input type="password" id="inputSecurityAnswer" name="inputSecurityAnswer" class="form-control mb-4" placeholder="Security Answer">
                            
                            <input type="password" id="Password" name="UserPassword" class="form-control mb-4"
                                placeholder="Enter New Password">

                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control mb-4"
                                placeholder="Confirm Password">


                            <div class="text-center">

                                <button class="btn btn-block my-4" type="submit">SUBMIT</button>
                                <div class="text-center">
                                    <br>
                                    
                                    <p>Return
                                        <a href="index">Home</a>
                                    </p>

                                </div>
                            </div>
                        </form>
                    </form>
                </div>
            </div>


        </div>
    </div>
</body>


{% endblock %}