{% extends 'base.html' %}

{% block title %}Devices{% endblock %}
{% block content %}


<div class="container">
    <h2> Search Device Table</h2>
    <p> Search for device information here:</p>
    <input class="form-control" id="myInput"  type="text" placeholder="Start typing...">
    <br>
    </div>
<div>
<form class="form-group"method="post" action="/">
<select class="form-control login-select" name="employee_id" id="employee_id">
{% for employee in employees %}
  <option value={{ employee[0]|string+","+employee[1]}}>{{ employee[1] }}</option>
{% endfor %}
</select>
</div class="align-self-center" > 
<table id="DeviceTable" class= "table table-fixed">
    <thead class="thead-dark">
	<tr>
        <th>Device Name</th>
        <th>Status</th>
        <th>Device Type</th>
        <th>OS Type</th>
        <th>OS Version</th>
        <th>Device Grade</th>
        <th>Device Location</th>
    </tr>
    </thead> 
    
    {% for device in device_table %}
    <tbody class="table-hover">
    <tr>
    {% for field in device[1:] %}
        {% if loop.index == 2 %}
        <td class="text-left"><button class="btn btn-info  btn-block" type="submit" name="device_id" value={{ device[0]|string+","+field if field else device[0]|string+",available" }}>{{ field if field != None else "available" }}</button></td>
        {% else %}
        <td class="text-left"> {{ field }}</td>
        {% endif %}
    {% else %}

    {% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#DeviceTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}
{% block javascript %}
{% endblock %}
